body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: #283048;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #859398, #283048);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #859398, #283048);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
main {
  background-color: rgba(255, 255, 255, 0.15);

}
.box {
  position: relative;
}

.box1,.box2,.box5,.box6 {
  position: absolute;
  backdrop-filter: blur(5px);
  /* box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1); */
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  width: 100px;
  height: 50px;
  animation: animate 10s linear infinite;
  animation-delay: calc(-1s * var());
}
.box3,.box4{

  position: absolute;
  backdrop-filter: blur(5px);
  /* box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1); */
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  width: 100px;
  height: 50px;
  animation: animates 10s linear infinite;
  animation-delay: calc(-1s * var());
}
@keyframes animates
{
  0%,100%
  {
transform: translateX(-40px);
  }
  50%
  {
    transform: translateX(40px);
  }
  
}
@keyframes animate
{
  0%,100%
  {
transform: translateY(-40px);
  }
  50%
  {
    transform: translateY(40px);
  }
  
}
.box1 {
  top: -50px;
  right: -60px;
  width: 100px;
  height: 100px;

}

.box2 {
  top: 150px;
  left: -100px;
  width: 120px;
  height: 120px;
  z-index: 2;

}

.box3 {
  top: 150px;
  right: -60px;
  width: 80px;
  height: 80px;
  z-index: -1;
}

.box4 {
  bottom: -80px;
  left: 50px;
  width: 50px;
  height: 50px;

}

.box5 {
  top: 280px;
  left: 140px;
  width: 60px;
  height: 60px;

}
.box6 {
  top: 390px;
  right: -50px;
  width: 120px;
  height: 120px;
  z-index: 2;

}
