{{ with $resource := .resource }}
{{ range ReferenceProps $resource }}
import { {{ToCamel .Reference.Resource}} } from "./{{ToDash .Reference.Resource}}";
{{ end }}

// Sub Types
{{range $resource.Types}}
export interface {{ToCamel .Name}} {
{{ range .Properties }}     {{ToLowerCamel .Name}}{{IfRequired .}}: {{PropNodejsType $resource .}};
{{end}}
}
{{end}}
// Resource Type
export interface {{ToCamel .Name}} {
    {{ range .Properties }}{{ToLowerCamel .Name}}{{IfRequired .}}: {{PropNodejsType $resource .}};
{{end}}
}
// Resource and Property Names
export const {{ToCamel $resource.Name}}Name = "{{ToCamel $resource.Name}}";
{{range $resource.Properties}}
export const {{ToCamel $resource.Name}}{{ToCamel .Name}}Name = "{{ToCamel .Name}}";
{{end}}
{{end}}
