{
{{ with $resource := .Resource }}
    {{ with $properties := .Properties }}
        {{ range $properties.Properties }}
            {{ToLowerCamel .Name}}: {{PropNodejsType $resource .}};
        {{end}}
    {{end}}
{{end}}
}