import {Entity} from "apibrew-client";

{{ range .params.Resources}}
export interface {{ToCamel .Name}} extends Entity {

    {{ range .Properties }}{{ToLowerCamel .Name}}: {{PropNodejsType .}};
    {{end}}
}
{{end}}
